{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="/css/jquery-jvectormap-2.0.3.css" rel="stylesheet">
<style>
@media screen and (max-width: 480px) {
  #map {
    height: 400px;
  }

  .mobile {
    margin-top: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  #map {
    height: 600px;
  }
}
.select2-selection__rendered {
    line-height: 33px !important;
}
.select2-container .select2-selection--single {
    height: 37px !important;
}
.select2-selection__arrow {
    height: 36px !important;
}
</style>
{% endblock %}

{% block body %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap" style="margin-bottom: 10px;">
                                        <h2><i class="fa fa-map-marker red"></i><strong>Countries</strong></h2>

                                        <div class="account-wrap" stlye="user-select:none;">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="image">
                                                    <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                </div>
                                                <div class="content">
                                                    <a class="js-acc-btn" href="#">{{app.user.username}}</a>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="info clearfix">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img src="/images/icon/avatar-01.jpg" alt="John Doe">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="name">
                                                                <a href="#">{{app.user.username}}</a>
                                                            </h5>
                                                            <span class="email">{{app.user.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        <a href="/logout">
                                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="map"></div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col col-md-3">
                                    <label for="select" class=" form-control-label">Selectați țara pentru a genera datele:</label>
                                </div>
                                <div class="col-12 col-md-8">
                                    <select name="select" id="selectCountry" class="form-control" style="height: 100px;">
                                        <option value="0">Tara</option>
                                        <option value="RO">Romania</option>
                                        <option value="CA">Canada</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BN">Brunei</option>
                                        <option value="BO">Bolivia</option>
                                        <option value="JP">Japan</option>
                                        <option value="BI">Burundi</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BR">Brazil</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BY">Belarus</option>
                                        <option value="RU">Russia</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="RS">Serbia</option>
                                        <option value="TL">Timor-Leste</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="GW">Guinea-Bisau</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GR">Greece</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="GY">Guyana</option>
                                        <option value="GE">Georgia</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GH">Ghana</option>
                                        <option value="OM">Oman</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="JO">Jordan</option>
                                        <option value="HR">Croatia</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HU">Hungary</option>
                                        <option value="HN">Honduras</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="PS">Palestine</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PE">Peru</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PL">Poland</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="EE">Estonia</option>
                                        <option value="EG">Egypt</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="IT">Italy</option>
                                        <option value="VN">Vietnam</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZW">Zimbabue</option>
                                        <option value="ES">Spain</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MD">Moldova</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MA">Morocco</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="ML">Mali</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="MK">Macedonia</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="UG">Uganda</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MX">Mexico</option>
                                        <option value="IL">Israel</option>
                                        <option value="FR">France</option>
                                        <option value="FI">Finland</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="NO">Norway</option>
                                        <option value="NA">Namibia</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NP">Nepal</option>
                                        <option value="XK">Kosovo</option>
                                        <option value="CI">Cote-d-Ivoire</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="CO">Colombia</option>
                                        <option value="CN">China</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CL">Chile</option>
                                        <option value="CG">Congo</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="CD">Democratic Republic of Congo</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CU">Cuba</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SY">Syria</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="SS">South Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="KR">Korea</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="KP">Democratic Peoples Republic of Korea</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="SN">Senegal</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SE">Sweden</option>
                                        <option value="SD">Sudan</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DE">Germany</option>
                                        <option value="YE">Yemen</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="US">United States</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LA">Lao PDR</option>
                                        <option value="TW">Taiwan</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TR">Turkey</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TG">Togo</option>
                                        <option value="TD">Chad</option>
                                        <option value="LY">libya</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="VE">Venezuela</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IR">Iran</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AL">Albania</option>
                                        <option value="AO">Angola</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="IN">India</option>
                                        <option value="TZ">Tanzania</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="IE">Ireland</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="QA">Qatar</option>
                                        <option value="MZ">Mozambique</option>
                                    </select>
                                </div>
                                <div class="col col-md-1 mobile">
                                    <button class="btn btn-success" type="submit" id="btn">Generează</button>
                                </div>
                            </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/GDPcolor.js"></script>
    <script>
        $(function() {
            $('#selectCountry').select2();

            /* ---------- Map ---------- */
            $('#map').vectorMap({
              map: 'world_mill_en',
              series: {
                regions: [{
                  values: gdpData,
                  scale: ['#C8EEFF', '#0071A4'],
                  normalizeFunction: 'polynomial',
                  legend: {
                    horizontal: true,
                    title: 'PIB per capita'
                  }
                }]
              },
              backgroundColor: '#eef3f7',
              onRegionClick: function(e, code) {
                    var url = '{{ path('charts', {'country': 'country_string'}) }}';
                    url = url.replace('country_string', code);
                    window.location.href = url;
              },
            });

            $('#btn').click(function() {
                if($('#selectCountry').val() != 0) {
                    var url = '{{ path('charts', {'country': 'country_string'}) }}';
                    url = url.replace('country_string', $('#selectCountry').val());
                    window.location.href = url;
                }
            });
        });
    </script>
{% endblock %}
